.jupiler-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 20px;

  padding: 10px;
}

.jupiler-button:hover
{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
}
.tripel-button:hover {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
}


.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 1rem;
}

.tripel-button {
  display: flex;
  margin-top: 3rem;
  padding: 10px;
  border-radius: 20px;

}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
