body {
  display: flex;
}

.Jupiler-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  max-width: 300px;
}

.Jupiler-button:hover {
  cursor: pointer;
}
